@font-face {
  font-family: 'Trebuchet MS';

  font-weight: 600;

  src: url('../../shared/ui/assets/fonts/Trebuchet-MS.ttf')
  format('truetype')
}

@font-face {
  font-family: 'Trebuchet MS';

  font-weight: 500;

  src: url('../../shared/ui/assets/fonts/Trebuchet-MS.ttf')
  format('truetype')
}

@font-face {
  font-family: 'Trebuchet MS';

  font-weight: 400;

  src: url('../../shared/ui/assets/fonts/Trebuchet-MS.ttf')
  format('truetype')
}

@font-face {
  font-family: 'Neue Pixel Grotesk';

  font-weight: 600;

  src: url('../../shared/ui/assets/fonts/Neue-Pixel-Grotesk.woff2')
  format('truetype')
}

@font-face {
  font-family: 'Neue Pixel Grotesk';

  font-weight: 500;

  src: url('../../shared/ui/assets/fonts/Neue-Pixel-Grotesk.woff2')
  format('truetype')
}

@font-face {
  font-family: 'Neue Pixel Grotesk';

  font-weight: 400;

  src: url('../../shared/ui/assets/fonts/Neue-Pixel-Grotesk.woff2')
  format('truetype')
}