@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  //src: url('../../shared/ui/assets/fonts/Montserrat-SemiBold.ttf')
  //format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  //src: url('../../shared/ui/assets/fonts/Montserrat-Medium.ttf')
  //format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  //src: url('../../shared/ui/assets/fonts/Montserrat-Regular.ttf')
  //format('truetype');
}
