@import './normalize';
@import './reset';
@import './fonts';
@import './vars';

body {
  font-family: 'Trebuchet MS', sans-serif;

  font-style: normal;

  //background-color: $black-100 !important;
  background-color: $black !important;

  &::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: $black-200; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255); /* color of the scroll thumb */
    border-radius: 20px; /* creates padding around scroll thumb */
  }
}

.apexcharts-tooltip-text-y-label,
.apexcharts-tooltip-text-y-value {
  color: $black-400 !important;

  font-size: 20px !important;
}
