//black
$black: #000;
$black-100: #252525;
$black-200: #1F1F1F;
$black-300: #2D2D2D;
$black-400: #1A1A1C;
$black-500: #191A23;

//white
$white: #FFF;
$white-25: #FFFDFB;
$white-50: #F7F7FC;
$white-100: #F4F4F4;
$white-125: #F5F5F7;
$white-150: #EEE;
$white-200: #CCC;
$white-300: #DADBDD;
$white-400: #8E8E8F;

//gray
$gray: #808080;
$gray-50: #808097;
$gray-100: #9C9C9C;
$gray-150: #9F9F9F;
$gray-175: #99979E;
$gray-200: #535355;
$gray-300: #3A3A41;
$gray-350: #34303D;

//orange
$orange-50: #FF9800;
$orange-100: #EF5A34;

//red
$red: #FF0000;
$red-50: #E83333;
$red-100: #E74C3C;
$red-200: #F23645;
$red-250: #DC2F55;

//yellow
$yellow-100: #FFCB45;

//blue
$blue-100: #79C7FF;
$blue-900: #15172B;

//green
$green-50: #5AE581;
$green-100: #00FF19;
$green-300: #B9FF66;

//purple
$purple-50: #FF90E8;

