@import "src/app/styles/vars";
@import "src/shared/ui/styles/mixins";

.pTag {
  font-style: normal;

  text-align: center;

  color: $black-400;
}

.s {
  font-size: 16px;

  font-weight: 400;

  line-height: 20px;
}

.m {
  font-size: 24px;

  font-weight: 400;

  line-height: 37px;
}

.l {
  font-size: 32px;

  font-weight: 700;

  line-height: 140%;
}

.xl {
  font-size: 42px;

  font-weight: 700;

  line-height: 120%;
}
