@import "src/app/styles/vars";
@import "src/shared/ui/styles/mixins";

.container {
  display: flex;

  position: relative;

  z-index: -1;

  &_banner {
    video {
      height: 900px;
    }
  }

  &_content {
    color: $white-100 !important;

    text-align: justify !important;

    padding: 0 30px;
  }

  &_title_block {
    display: flex;

    margin-bottom: 10px;

    gap: 5px;

    img {
      transition: .5s all;

      &:hover{
        transform: scale(1.1);
      }
    }

    .title {
      background: $green-300;

      border-radius: 7px;

      padding: 0 7px;

      font-weight: 500;
    }
  }

  &_faq_title {
    @include flex(center);

    margin-bottom: 10px;

    gap: 5px;

    .title {
      background: $green-300;

      border-radius: 7px;

      padding: 7px;

      font-weight: 500;

      font-size: 40px;
    }
  }

  &_faq_block {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 30px;
  }

  &_coin_list {
    display: flex;

    gap: 10px;

    width: 100%;

    overflow: hidden;

    border: 1px solid $white;

    border-left: none;

    border-right: none;

    height: 50px;

    margin-bottom: 10px;

    background: $black;

    &_block {
      display: flex;

      gap: 3px;

      align-items: center;

      span {
        color: $white;
      }

      img {
        @include size(20px);
      }

      position: relative;

      left: 0;

      animation: marquee 60s linear infinite none running;
    }
  }
}

.banner_main {
  @include flex(center, center);

  height: 856px;

  position: relative;

  z-index: -1;

  .pack_1 {
    position: absolute;

    transform: rotate(45deg);

    height: 400px;

    left: 100px;

    top: -45px;

    z-index: 1;
  }

  .pack_2 {
    position: absolute;

    transform: rotate(45deg);

    height: 400px;

    right: 124px;

    bottom: -80px;

    z-index: 1;
  }

  &_block {
    @include flex(space-around, center);

    width: 90%;

    height: 800px;

    background: $white;

    border-radius: 20px;

    &_logo {
      height: 450px;

      animation: logo 5s infinite;
    }
  }
}

.banner {
  padding: 0 45px;
}

