@import "src/app/styles/vars";
@import "src/shared/ui/styles/mixins";

.navbar {
  display: flex;

  align-items: center;

  justify-content: space-between;

  margin: 10px;

  .menu {
    display: flex;

    align-items: center;

    gap: 20px;

    div {
      .logo {
        @include size(40px);
      }
    }

    .list {
      display: flex;

      gap: 15px;

      & li {
          font-style: normal;

          font-weight: 500;

          font-size: 14px;

          line-height: 24px;

          letter-spacing: 0.01em;

          text-transform: uppercase;

          color: $white-100;

          padding: 2px 0 2px 0;

          &:hover {
            background: $white;

            color: $black;

            .dropMenu {
              display: block;

              & li {
                background: none;

                color: $white;
              }
            }
          }
        }
      }
    }

    .dropMenu {
      display: none;

      position: absolute;

      background: $black;

      padding: 10px;

        li {
          a {
            &:hover {
              color: $black;

              background: $green-300;
            }
          }
        }
      }
  }


.connectWallet {
  border: 1px solid $white-50;

  background: none;

  font-weight: 500;

  font-size: 14px;

  line-height: 24px;

  letter-spacing: 0.01em;

  text-transform: uppercase;

  color: $white-50;

  border-radius: 4px;

  padding: 8px 20.5px;

  -webkit-transition: 0.2s;

  transition: 0.2s;


  &:hover {
    border: none;

    cursor: pointer;

    color: $black;

    -webkit-transform: translate(-0.25rem,-0.25rem);

    -ms-transform: translate(-0.25rem,-0.25rem);

    transform: translate(-0.25rem,-0.25rem);

    background: $green-300;

    -webkit-box-shadow: 0.25rem 0.25rem $black;

    box-shadow: 0.25rem 0.25rem $gray-300;
  }

  &:active {
    -webkit-transform: translate(0);

    -ms-transform: translate(0);

    transform: translate(0);

    -webkit-box-shadow: none;

    box-shadow: none;
  }
}