
.ap {
  width: 8em;
  height: 16em;
}
.ap__ring {
  stroke: hsla(223, 10%, 10%, 0.15);
  transition: stroke 0.3s;
}
.ap__worm1,
.ap__worm2 {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.ap__worm1 {
  animation-name: worm1;
}
.ap__worm2 {
  animation-name: worm2;
  visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .ap__ring {
    stroke: hsla(223, 10%, 90%, 0.1);
  }
}