@import "src/app/styles/vars";
@import "src/shared/ui/styles/mixins";

.container{
  display: flex;
  justify-content: center;
  gap: 48px;
}

.block-info{
  width: 776px;
  //height: 330px;
  left: 160px;
  top: 51px;

  background: $black-100;
  border-radius: 6px;

  padding: 24px 26px;

  &-title{
    display: flex;
    justify-content: space-between;

    &-date{
      font-weight: 600;
    }
  }

  &-coin-block{
    display: flex;
    justify-content: space-between;

    margin-top: 25px;

    .favorite-button{
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
      background: none;
      border: 1px solid $white;
      padding: 15px 120px;
      gap: 5px;

      &:hover{
        cursor: pointer;
        svg {
          fill: $yellow-100;
        }
      }
    }

    .market-coin-block {
      margin-top: 10px;

      &-info {
        display: flex;
        justify-content: space-between;
        padding: 13px 2px;
        border-bottom: 1px solid $white-300;

        &-text{
          display: flex;
          align-items: flex-start;

          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;

          .information:hover{
            cursor: pointer;
          }
        }
      }
    }
  }

  &-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: $white;
    }

    &-text{
      margin: 5px 0 5px 0;

      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: $gray-100;
    }

    &-button{
      border: none;
      background: none;

      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: $blue-100;

      &:hover{}
      cursor: pointer;
    }
  }

  &-social{
    margin-top: 16px;

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: $white;
    }

    &-block {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin-top: 5px;

      &-circle {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 26px;
        height: 26px;
        background: rgba(217, 217, 217, 0.25);
        border-radius: 50%;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  &-tags{
      margin-top: 16px;

    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: $white;
    }

    &-block{
      margin-top: 6px;
      display: flex;
      flex-wrap: wrap;
      gap: 9px;

      &-tags-text{
        padding: 5px;
        background: $gray-200;
        border-radius: 5px;

        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: $white;
      }
    }
  }
}

.price-container{
  margin-top: 19px;
  display: flex;
  gap: 9px;
  align-items: center;

  &-coin-price{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: $white;
  }

  &-percent{
    border-radius: 2px;
    padding: 2px 3px;

    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    background: rgba(255, 255, 255, 0.06);
    color: rgba(255, 255, 255, 0.5);

    &.grow{
      color: $green-100;
      background: rgba(141, 255, 160, 0.6);

      svg {
        transform: rotate(180deg);
        fill: $green-100;
      }
    }

    &.down{
      color: $red;
      background: rgba(165, 88, 88, 0.6);
    }
  }

}

.coin-container{
  &-rating{
    width: 81px;
    height: 24px;

    padding: 5px 14px;

    background: rgba(193, 193, 193, 0.66);
    border-radius: 4px;
  }

  &-info{
    display: flex;
    align-items: center;

    margin: 25px 0 19px 0;

    &-logo{
        margin-right: 11px;
    }

    &-name{
      margin-right: 4px;
    }

    &-symbol{
      text-transform: uppercase;
    }

    &-text-price{

    }
  }
}

.day-container{
  margin-top: 19px;

  &-title-block{
    display: flex;
    justify-content: space-between;
  }

  &-range-price{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 6px;
    width: 165px;
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      background-image: radial-gradient(circle, $white-50 40%, $orange-50 45%);
    }
  }
}

.percent-container{
  display: flex;
  justify-content: center;
  margin-top: 25px;

  &-elements{
    display: flex;
    gap: 7px;

    &-block{
      background: $black-300;
      border-radius: 10px;
      padding: 15px;

      .time-date{
        margin-right: 5px;
      }

      .time-percent{
        padding: 6px 3px;
        border-radius: 2px;

        background: rgba(255, 255, 255, 0.06);
        color: rgba(255, 255, 255, 0.5);

        &.grow{
          color: $green-100;
          background: rgba(141, 255, 160, 0.6);

          svg {
            transform: rotate(180deg);
            fill: $green-100;
          }
        }

        &.down{
          color: $red;
          background: rgba(165, 88, 88, 0.6);
        }
      }
    }
  }
}

.red{
  color: $red-50;
}

.green{
  color: $green-50;
}



.wrapper {
  @include flex(space-between, center);

  padding: 40px 100px;

  &_block {
    @include flex(center, center);
  }
}

.block {
  @include flex(center, baseline);
}

.market {

  &__logo {
    @include size(168px);

    border-radius: 50%;
  }

  &__cap {
    color: $white;

    position: relative;

    right: 105px;

    background: $gray-300;

    padding: 4px 12px;

    border-radius: 8px;
  }

  &__info {
    @include flex(flex-start, flex-start, column);

    gap: 8px;

    &_name {
      font-weight: 700;

      font-size: 48px;

      line-height: 56px;

      color: $white;
    }

    &_symbol {
      font-weight: 400;

      font-size: 16px;

      line-height: 24px;

      color: $white;
    }

      &_coin {
        @include flex(flex-start, baseline);

        gap: 12px;

        padding-top: 15px;

        &_block {
          @include flex(flex-start, baseline);

          gap: 8px;
        }

        &_price {
          font-size: 22px;

          line-height: 28px;

          &_red {
            color: #F23645;
          }

          &_title {
            font-weight: 700;

            font-size: 48px;

            line-height: 60px;

            color: $white;
          }
        }

        &_symbol {
          font-weight: 400;

          font-size: 16px;

          line-height: 24px;

          color: $white;
        }

        &_percent {
          font-weight: 700;

          font-size: 22px;

          line-height: 28px;

          &_red {
            color: $red-200;
          }
        }
      }
  }
}