@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  background-color: #18181b;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1f1f1f; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
  border-radius: 20px; /* creates padding around scroll thumb */
}

a {
  text-decoration: none;
}
