@import "../../../../styles/vars";
@import "../../../../../shared/ui/styles/mixins";

.inputContainer {
  height: 50px;

  position: relative;

  width: 100%;

  .placeholder {
    color: $gray-50;

    left: 20px;

    line-height: 14px;

    pointer-events: none;

    position: absolute;

    transform-origin: 0 50%;

    transition: transform 200ms, color 200ms;

    top: 20px;
  }

  .input {
    background-color: $gray-300;

    border-radius: 12px;

    border: 0;

    box-sizing: border-box;

    color: $white-150;

    font-size: 18px;

    height: 100%;

    outline: 0;

    padding: 4px 20px 0;

    width: 100%;

    &:focus ~ .placeholder {
      transform: translateY(-36px) translateX(-4px) scale(0.75);

      color: $red-250;

      background-color: $blue-900;

      border-radius: 10px;

      padding: 5px;
    }

    &:not(:placeholder-shown) ~ .placeholder {
      transform: translateY(-36px) translateX(-4px) scale(0.75);

      color: $gray-50;

      background-color: $blue-900;

      border-radius: 10px;

      padding: 7px;
    }
  }
}